@page "/account/add"
@layout NoGlobalSearchLayout
@namespace Shared
@using Account
@using Validation
@inject IAccountService accountService
@inject NavigationManager Navigation
@inject IStringLocalizer<Client.Shared.Resources.Resource> localizer
@attribute [Authorize(Roles = "Master")]

<PageTitle>Account Toevoegen</PageTitle>

<EditForm Model="@Account" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator TValidator="AccountValidation"/>
    <div class="context-menu">
        <span class="context-menu-label">
            <TitlePage IconString="user" Type="Account" Mutation="Toevoegen" />
        </span>
        <button type="submit">Toevoegen</button>
    </div>
    <div class="three-column-layout">
        <div class="one-third">
            <Title Text="Algemene informatie" />
            <AddInput Type="@Input.InputType.SELECT" Label="Rol" Required="@true" Items="@roles" @bind-Value="Account.Role" For="@(()=>Account.Role)"/>
            <AddInput Type="@Input.InputType.TEXT" Label="Departement" Required="@true" @bind-Value="Account.Department" For="@(() => Account.Department)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Opleiding" Required="@false" @bind-Value="Account.Education" For="@(() => Account.Education)" />
                @*<div class="input-container">
                    <label>
                    Actief:
                    </label>
                <InputCheckbox @bind-Value="@Account.IsActive" style="width: 18px; height: 18px; position: relative; left: -318px;" />
                </div>*@
            <CustomCheckbox Label="Actief" @bind-Value="@Account.IsActive" />
        </div>
        <div class="one-third">
            <Title Text="Accountgegevens" />
            <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" Required="@true" @bind-Value="Account.Firstname" For="@(() => Account.Firstname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Naam" Required="@true" @bind-Value="Account.Lastname" For="@(() => Account.Lastname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" Required="@true" @bind-Value="Account.Email" For="@(() => Account.Email)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Wachtwoord" Required="@true" @bind-Value="Account.Password" For="@(() => Account.Password)" />
        </div>
        <div class="one-third">
        </div>
    </div>
</EditForm>

@code {
    private AccountDto.Create Account { get; set; } = new();
    private List<string> roles = Enum.GetNames(typeof(Role)).ToList();

    protected override void OnInitialized()
    {
        for(int i=0; i<roles.Count; i++){
            roles[i] = localizer[roles[i]];
        }
    }

    private async void HandleValidSubmit()
    {
        Console.WriteLine(Account.IsActive);
        AccountDto.Details newAccount = await accountService.Add(Account);
        Navigation.NavigateTo("account/" + newAccount.Id);
    }
}
