@inject IStringLocalizer<Client.SharedFiles.Resources.Resource> localizer

<div class="input-container multioption">
    <select class="input" type="text" style="@customCss" @bind="Value">
        @foreach (string day in Enum.GetNames(typeof(DayOfWeek)))
        {
            <option value="@day">@localizer[day]</option>
        }
    </select>

    <select class="input" type="text" style="@customCss" disabled>
        @foreach (string partofday in new List<string>(Enum.GetValues(typeof(PartOfDay)).Cast<PartOfDay>().Select(v => v.ToString().Replace("_", " "))))
        {
            <option value="@partofday">@localizer[partofday]</option>
        }
    </select>
</div>

@code {
    [Parameter] public string customCss { get; set; } = "";
    private string _value;
    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}
