<div>
    <div class="input-container">
        <label for="">
            @_label
            @if(Required){
                <sup class="requiredinput">*</sup>
            }
        </label>
        @if(Type == InputType.TEXT) {
            <input class="input" type="text" style="@customCss" placeholder="@PlaceHolder" required="@Required"  @oninput="(ChangeEventArgs __e) => Action.InvokeAsync(string.Concat(this.OptionalId, __e?.Value?.ToString()))" />        }
        else if(Type == InputType.SELECT){
            <select @bind="SelectedOption" class="input" style="@customCss" type="text" placeholder="@PlaceHolder" required="@Required">
                <option value="" disabled selected hidden >@PlaceHolder</option>
                @foreach (var item in Items)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
</div>


