
@inherits InputBase<string>


<div>
    <div class="input-container">
        <label for="">
            @_label
            @if (Required)
            {
                <sup class="required-input">*</sup>
            }
        </label>
        @if (Type == InputType.TEXT)
        {
            <input @bind="@CurrentValue" class="input" style="@customCss" placeholder="@PlaceHolder" />
        }
        @if (Type == InputType.SELECT)
        {
            <select @bind="@CurrentValue" class="input" style="@customCss" type="text" placeholder="@PlaceHolder" disabled="@IsDisabled">
                <option value="" disabled selected hidden>@PlaceHolder</option>
                @foreach (var item in Items)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
     <ValidationMessage For=@For />
</div>
