<div>
    <div class="input-container">
        <label for="">
            @_label
            @if (Required)
            {
                <sup class="requiredinput">*</sup>
            }
        </label>
        @if (Type == InputType.TEXT)
        {
            <InputText @bind-Value="BindValue" class="input" type="text" style="@customCss" placeholder="@PlaceHolder" required="@Required" @oninput="(ChangeEventArgs __e) => Action.InvokeAsync(string.Concat(this.OptionalId, __e?.Value?.ToString()))" />
        }
        @if (Type == InputType.SELECT)
        {
            <InputSelect @bind-Value="SelectedOption" class="input" style="@customCss" type="text" placeholder="@PlaceHolder" required="@Required">
                <option value="" disabled selected hidden>@PlaceHolder</option>
                @foreach (var item in Items)
                {
                    <option value="@item">@item</option>
                }
            </InputSelect>
        }
    </div>
</div>
