@using System.Linq.Expressions

@inherits InputBase<string>
<div>
    <div class="input-container">
        <label for="">
            @_label
            @if (Required)
            {
                <sup class="requiredinput">*</sup>
            }
        </label>
        @if (Type == InputType.TEXT)
        {
            <input @bind="@CurrentValue" class="input" style="@customCss" placeholder="@PlaceHolder" required="@Required" />
        }
        @if (Type == InputType.SELECT)
        {
            //select werkt nog niet
            <select @bind="@SelectedOption"  class="input" style="@customCss" type="text" placeholder="@PlaceHolder" required="@Required">
                <option value="" disabled selected hidden>@PlaceHolder</option>
                @foreach (var item in Items)
                {
                    <option value="@item">@item</option>
                }
            </select>
        }
    </div>
     <ValidationMessage For=@For />
</div>
