@page "/host/add"
@namespace Shared
@using System.ComponentModel.DataAnnotations
@layout NoGlobalSearchLayout
@using Host
@using Client.Validation
@using Specification
@inject IHostService hostService
@inject NavigationManager Navigation

@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Host Toevoegen</PageTitle>

<EditForm Model="@Host" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator TValidator="HostValidation" />
    <div class="context-menu">
        <span class="context-menu-label">Host Toevoegen</span>
        <button type="submit">Toevoegen</button>
    </div>

    <div class="three-column-layout">
        <div class="one-third">
            <Title Text="Algemene informatie" />

            <AddInput Type="@Input.InputType.TEXT" Label="Naam" @bind-Value="Host.Name" For="@(()=>Host.Name)" />

            <CustomInputNumber label="Vcpu" @bind-Value="Host.Processors" For="@(()=>Host.Processors)" />
            <CustomInputNumber label="Opslag" @bind-Value="Host.Storage" For="@(()=>Host.Storage)" />
            <CustomInputNumber label="Geheugen" @bind-Value="Host.Memory" For="@(()=>Host.Memory)" />

        </div>
        <div class="one-third"></div>
        <div class="one-third"></div>
    </div>
</EditForm>

@code {
    private EditForm? Editform { get; set; } = new();
    private HostDto.Create Host { get; set; } = new();

    private async void HandleValidSubmit()
    {
        HostDto.Details newHost = await hostService.Add(Host);
        Navigation.NavigateTo("host/" + newHost.Id);
    }
}
