@{
    var inverse = InverseStyle ? "inverse" : ""; 
    var hoverable = OnClick.HasDelegate ? "hoverable" : ""; 
    var verticalCenter = Entries.Count == 1 ? "vertical-center" : ""; 
}

<div class="card data-card @hoverable @inverse" style="@customCss" @onclick="HandleClickAsync">
    @foreach (KeyValuePair<string, string> entry in Entries)
    {
        <div class="entry">
            <p class="label">@entry.Key</p>
            <p class="value" title="@entry.Value">@entry.Value</p>

            @if (OnClick.HasDelegate && HoverIcon is not null)
            {
                <i class="@HoverIcon @verticalCenter hover-icon"></i>
            }
        </div>
    }
</div>


