<div class="card data-card" style="@customCss">
    @foreach (KeyValuePair<string, string> entry in Entries)
    {
        <div class="entry">
            <p class="label">@entry.Key</p>
            <p class="value" title="@entry.Value">@entry.Value</p>
        </div>
        @if(OnClick.HasDelegate){
            <button class="fa-solid fa-xmark methodexecutor" @onclick="@(() => OnClick.InvokeAsync())"></button>
        }
    }
</div>


