@{
    var hoverable = OnClick.HasDelegate ? "hoverable" : ""; 
}

<div class="card data-card @hoverable" style="@customCss" @onclick="HandleClickAsync">
    @foreach (KeyValuePair<string, string> entry in Entries)
    {
        <div class="entry">
            <p class="label">@entry.Key</p>
            <p class="value" title="@entry.Value">@entry.Value</p>
        </div>
    }
</div>


