@page "/virtual-machine/list"
@namespace Shared
@using Shared.VirtualMachine
@inject IVirtualMachineService VirtualMachineService
@layout MainLayout
@attribute [Authorize]

<div class="context-menu">
    <Label Text="Toevoegen" />
    <Button Href="/virtual-machine/add" Text="Virtuele machine" />
    <Button Href="/virtual-machine/add" Text="Server" />
    <Button Href="/virtual-machine/add" Text="Cluster" />
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title text="Filteropties" />
        <div class="filterbuttonarea">
            <Button Text="Filteren" />
        </div>
        <Searchbar />
    </div>
    <div class="two-thirds">
        <Title text="Alle virtuele machines" />
        <div class="two-columns-container">
            <!--<div>
                @foreach(KeyValuePair<string, bool> entry in _vms){
                    <EntityCard Value="@entry.Key" Active="@entry.Value" />
                }
            </div>
            <div>
                @foreach (KeyValuePair<string, bool> entry in _vms)
                {
                    <EntityCard Value="@entry.Key" Active="@entry.Value" />
                }
            </div>-->
            <div>
                @foreach (var vm in virtualMachines)
                {
                        <EntityCard Value="@vm.FQDN" Active="@vm.IsActive" Href=@string.Concat("virtual-machine/", vm.Id)></EntityCard>
                }
            </div>

        </div>
        <PageSelector />




    </div>
</div>

@code {
    private IEnumerable<VirtualMachineDto.Index> virtualMachines;

    protected override async Task OnInitializedAsync()
    {
        virtualMachines = await VirtualMachineService.GetIndexAsync();

    }
    /*
    private Dictionary<string, bool> _vms = new();

    protected override void OnInitialized()
    {
        Random random = new();
        for(int i = 0; i < 10; i++){
            _vms.Add($"devops-proj1.vichogent.be#{i}", random.Next(2) == 1);
        }
    }*/
}
