@page "/customer/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Klant toevoegen</PageTitle>


 <EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator/>
    <TopBar>
        <ButtonGroup>
            <FormHeader Icon="fa-solid fa-user" Text="Klant toevoegen" />
        </ButtonGroup>
        <span class="outline-end">
            <button class="button" type="submit">Toevoegen</button>
        </span>
    </TopBar>

    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Algemene informatie" />
            <AddInput Type="@Input.InputType.SELECT" Label="Soort" Required="@true" Items="@_typesClient" @bind-Value="@Customer.CustomerType" For="@(() => Customer.CustomerType)" IsDisabled="@Convert.ToBoolean(Id)" />
            @if (Customer.CustomerType == "Intern")
            {

                <AddInput Type="@Input.InputType.SELECT" Label="Instituut" Required="@true" Items="@_institution" @bind-Value="Customer.Institution" For="@(() => Customer.Institution)" />
                <AddInput Type="@Input.InputType.TEXT" Label="Departement" Required="@true" @bind-Value="Customer.Department" For="@(() => Customer.Department)" />
                <AddInput Type="@Input.InputType.TEXT" Label="Opleiding" Required="@false" @bind-Value="Customer.Education" For="@(() => Customer.Education)" />
            }
            else if (Customer.CustomerType == "Extern")
            {
                <AddInput PlaceHolder="" Type="@Input.InputType.TEXT" Label="Type extern" Required="@true" @bind-Value="Customer.CompanyType" For="@(() => Customer.CompanyType)" />
                <AddInput Type="@Input.InputType.TEXT" Label="Naam" Required="@true" @bind-Value="Customer.CompanyName" For="@(() => Customer.CompanyName)" />
            }
            else
            {
                <div></div>
            }
        </OneWidth>
        <OneWidth>
            <Title Text="Contactgegevens" />
            <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" Required="@true" @bind-Value="Customer.ContactPerson.Firstname" For="@(() => Customer.ContactPerson.Firstname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Naam" Required="@true" @bind-Value="Customer.ContactPerson.Lastname" For="@(() => Customer.ContactPerson.Lastname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" Required="@true" @bind-Value="Customer.ContactPerson.Email" For="@(() => Customer.ContactPerson.Email)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Telefoonnummer" @bind-Value="Customer.ContactPerson.Phonenumber" For="@(() => Customer.ContactPerson.Phonenumber)" />
        </OneWidth>
        <OneWidth>
            <Title Text="Back-up contactgegevens" />
            <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" Required="@_backuprequired" Action="(value) => Makerequired(value)" OptionalId="0" @bind-Value="@Customer.BackupContactPerson.Firstname" For="@(() => Customer.BackupContactPerson.Firstname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Naam" Required="@_backuprequired" Action="(value) => Makerequired(value)" OptionalId="1" @bind-Value="@Customer.BackupContactPerson.Lastname" For="@(() => Customer.BackupContactPerson.Lastname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" Required="@_backuprequired" Action="(value) => Makerequired(value)" OptionalId="2" @bind-Value="@Customer.BackupContactPerson.Email" For="@(() => Customer.BackupContactPerson.Email)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Telefoonnummer" @bind-Value="@Customer.BackupContactPerson.Phonenumber" For="@(() => Customer.BackupContactPerson.Phonenumber)" />
        </OneWidth>
    </ThreeColumnLayout>
</EditForm>




