@page "/customer/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Klant toevoegen</PageTitle>


 <EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator/>
    <TopBar>
        <ButtonGroup>
            <FormHeader Icon="fa-solid fa-user" Text="Klant toevoegen" />
        </ButtonGroup>
        <span class="outline-end">
            <button class="button" type="submit">Toevoegen</button>
        </span>
    </TopBar>

    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Algemene informatie" />
            <DropDown Label="Soort"
                      Options="translatedCustomerTypes"
                      OnChange="SetCustomerType" />
            <ValidationMessage For="@(() => Customer.CustomerType)" />

            @if (Customer.IsInternal())
            {
                <DropDown Label="Instituut"
                      Options="translatedInstitutions"
                      OnChange="SetInstitution" />
                <ValidationMessage For="@(() => Customer.Institution)" />

                <LabelInput Label="Departement"
                        Required="@true"
                        @bind-Value="Customer.Department"
                        For="@(() => Customer.Department)"
                        TestValue="IT en Digitale Innovatie" />

                <LabelInput Label="Opleiding"
                        @bind-Value="Customer.Education"
                        For="@(() => Customer.Education)"
                        TestValue="Toegepaste Informatica" />
            }
            else if (Customer.IsExternal())
            {
                <LabelInput Label="Type extern"
                        Required="@true"
                        @bind-Value="Customer.CompanyType"
                        For="@(() => Customer.CompanyType)"
                        TestValue="Besloten vennootschap (BV)" />

                <LabelInput Label="Naam"
                        Required="@true"
                        @bind-Value="Customer.CompanyName"
                        For="@(() => Customer.CompanyName)"
                        TestValue="Virtual IT Company" />
            }
        </OneWidth>
        <OneWidth>
            <Title Text="Contactgegevens" />
            <LabelInput Label="Voornaam"
                        Required="@true"
                        @bind-Value="Customer.ContactPerson.Firstname"
                        For="@(() => Customer.ContactPerson.Firstname)"
                        TestValue="Joren" />

            <LabelInput Label="Naam"
                        Required="@true"
                        @bind-Value="Customer.ContactPerson.Lastname"
                        For="@(() => Customer.ContactPerson.Lastname)"
                        TestValue="Vermeersch" />

            <LabelInput Label="E-mailadres"
                        Required="@true"
                        @bind-Value="Customer.ContactPerson.Email"
                        For="@(() => Customer.ContactPerson.Email)"
                        TestValue="joren.vermeersch@student.hogent.be" />

            <LabelInput Label="Telefoonnummer"
                        @bind-Value="Customer.ContactPerson.Phonenumber"
                        For="@(() => Customer.ContactPerson.Phonenumber)"
                        TestValue="0482455642" />
        </OneWidth>
        <OneWidth>
            <Title Text="Back-up contactgegevens" />
            <LabelInput Label="Voornaam"
                        Required="@backupRequired"
                        @bind-Value="Customer.BackupContactPerson.Firstname"
                        For="@(() => Customer.BackupContactPerson.Firstname)" />

            <LabelInput Label="Naam"
                        Required="@backupRequired"
                        @bind-Value="Customer.BackupContactPerson.Lastname"
                        For="@(() => Customer.BackupContactPerson.Lastname)" />

            <LabelInput Label="E-mailadres"
                        Required="@backupRequired"
                        @bind-Value="Customer.BackupContactPerson.Email"
                        For="@(() => Customer.BackupContactPerson.Email)" />

            <LabelInput Label="Telefoonnummer"
                        @bind-Value="Customer.BackupContactPerson.Phonenumber"
                        For="@(() => Customer.BackupContactPerson.Phonenumber)" />
        </OneWidth>
    </ThreeColumnLayout>
</EditForm>




