@page "/customer/{id:long}"
@attribute [Authorize]

<PageTitle>Klant [customer name] Details</PageTitle>

<div class="context-menu" >
    <div class="context-items" style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title" @onclick="NavigateBack"><i class="fa-solid fa-arrow-left" ></i>
            <span>Terug</span>
        </span>
        <AuthorizeView Roles="Master, Administrator">
            <span>
                <Button Text="Beheren" Href=@string.Format("customer/{0}/edit", Id) />
            </span>
        </AuthorizeView>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
    <DataCard Entries="@_username" />

    <Title Text="Algemeen" />
    <DataCard Entries="@_general" />

    <Title Text="Contactgegevens" />
    <DataCard Entries="@_contactInformation" />
    @if(_backupContactInformation.ContainsKey("Naam")){
            <DataCard Entries="@_backupContactInformation" />
    }
    
    </div>
    <div class="two-thirds">
        <Title Text="Virtuele machines" />
        @if (virtualMachines.Any())
        {
            <div class="two-columns-container">
                <div>
                    @foreach (var vm in virtualMachines.Take(5))
                    {
                        <EntityCard Value=@vm.Fqdn Active=@(vm.Status == Status.Requested) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
                <div>
                    @foreach (var vm in virtualMachines.Skip(5).Take(5))
                    {
                        <EntityCard Value=@vm.Fqdn Active=@(vm.Status == Status.Requested) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
            </div>
            <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
        }
        else
        {
            <NoVmMsg Type="@Customer.CustomerType.ToString()" />
        }
    </div>
</div>
