@page "/customer/{id:long}"
@attribute [Authorize]

<PageTitle>Details klant</PageTitle>

@if (@customer is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack"/>
                <AuthorizeView Roles="Master, Administrator">
                    <span class="outline-end">
                        <Button Text="Beheren" Href="@customer.GetEditUrl()" />
                    </span>
                </AuthorizeView>
            </ButtonGroup>
            <DataCard Entries="@_username" />

            <Title Text="Algemeen" />
            <DataCard Entries="@_general" />

            <Title Text="Contactgegevens" />
            <DataCard Entries="@_contactInformation" />

            @if (customer.BackupContactPerson is not null)
            {
                <DataCard Entries="@_backupContactInformation" />
            }
        </OneWidth>
        <TwoWidth>
            <Title Text="Virtuele machines" />
            @if (virtualMachines is not null && virtualMachines.Any())
            {
                <WithTwoColumns>
                    <div>
                        @foreach (var machine in virtualMachines.Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                    <div>
                        @foreach (var machine in virtualMachines.Skip(5).Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                </WithTwoColumns>
                <PageSelector OnClick="@ChangePage" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
            }
            else
            {
                <NoResultsMessage Message="Deze klant heeft geen virtuele machines" />
            }
        </TwoWidth>
    </ThreeColumnLayout>
}

