@page "/customer/{id:long}"
@attribute [Authorize]

<PageTitle>Details klant</PageTitle>

@if (@customer is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack"/>
                <AuthorizeView Roles="Master, Administrator">
                    <span class="outline-end">
                        <Button Text="Beheren" Href="@customer.GetEditUrl()" />
                    </span>
                </AuthorizeView>
            </ButtonGroup>
            <DataCard Entries="@datacards.GetValueOrDefault(USERNAME_KEY)" />

            <Title Text="Algemeen" />
            <DataCard Entries="@datacards.GetValueOrDefault(GENERAL_INFORMATION_KEY)" />

            <Title Text="Contactgegevens" />
            <DataCard Entries="@datacards.GetValueOrDefault(CONTACT_KEY)" />

            @if (customer.BackupContactPerson is not null)
            {
                <DataCard Entries="@datacards.GetValueOrDefault(BACKUP_CONTACT_KEY)" />
            }
        </OneWidth>
        <TwoWidth>
            <Title Text="Virtuele machines" />
            @if (virtualMachines is not null && virtualMachines.Any())
            {
                <WithTwoColumns>
                    <div>
                        @foreach (var machine in virtualMachines.Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                    <div>
                        @foreach (var machine in virtualMachines.Skip(5).Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                </WithTwoColumns>
                <PageSelector OnClick="@ChangePage" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
            }
            else
            {
                <NoResultsMessage Message="@string.Format($"{customer.GetFullName()} heeft nog geen virtuele machines.")" />
            }
        </TwoWidth>
    </ThreeColumnLayout>
}

