@page "/virtual-machine/advanced-list"
@attribute [Authorize]


@if(virtualMachines == null){
    <p>LOADING...</p>
}
else{
<div class="center-table">
    <div class="table-wrapper">
        <MudTable Style="width: 100%" Items="@virtualMachines" Dense="false" Hover="true" Bordered="true" Striped="true" Filter="new Func<Shared.VirtualMachines.VirtualMachineDto.Detail,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Virtuele machines</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Fqdn</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Naam</MudTh>
                <MudTh>Template</MudTh>
                <MudTh>Mode</MudTh>
                <MudTh>Host</MudTh>
                <MudTh>Beschikbaarheden</MudTh>
                <MudTh>Back-up frequentie</MudTh>
                <MudTh>Aangevraagd op</MudTh>
                <MudTh>Start</MudTh>
                <MudTh>Eind</MudTh>
                <MudTh>Reden</MudTh>
                <MudTh>Poorten</MudTh>
                <MudTh>VirtualProcessoren</MudTh>
                <MudTh>Geheugen</MudTh>
                <MudTh>Opslag</MudTh>
                <MudTh>Beheerder</MudTh>
                <MudTh>Aanvrager</MudTh>
                <MudTh>Gebruiker</MudTh>
                <MudTh>Vpn verbinding toegestaan</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd Style="@style" DataLabel="Id"><a href="/virtual-machine/@context.Id">@context.Id</a></MudTd>
                <MudTd Style="@style" DataLabel="Fqdn">@context.Fqdn</MudTd>
                <MudTd Style="@style" DataLabel="Status">@localizer[context.Status.ToString()]</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Name</MudTd>
                <MudTd Style="@style" DataLabel="Id"> @localizer[context.Template.ToString()]</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Mode.ToString()</MudTd>
                <MudTd Style="@style" DataLabel="Id"><a href="/host/@context.Host.Id">@context.Host.Name</a></MudTd>
                <MudTd Style="@style" DataLabel="Id">@string.Join(", ", context.Availabilities.Select(a=>localizer[a]))</MudTd>
                <MudTd Style="@style" DataLabel="Id">@localizer[context.BackupFrequenty.ToString()]</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.ApplicationDate</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.TimeSpan.StartDate</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.TimeSpan.EndDate</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Reason</MudTd>
                <MudTd Style="@style" DataLabel="Id">@string.Join(", ", context.Ports.Select(x => x.Service))</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Specification.VirtualProcessors</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Specification.Memory</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Specification.Storage</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Account.Firstname @context.Account.Lastname</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.Requester.Name</MudTd>
                <MudTd Style="@style" DataLabel="Id">@context.User.Name</MudTd>
                <MudTd Style="@style" DataLabel="Id">@localizer[context.hasVpnConnection.ToString()]</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>
</div>
}

@code {
    private string style = "white-space: nowrap";
}
