@page "/virtual-machine/advanced-list"
@layout NoGlobalSearchLayout
@attribute [Authorize]


@if(virtualMachines == null)
{
    <Loading />
}
else {
<div class="center-table">
    <div class="table-wrapper">
            <div class="padding-bottom">
                <Title Text="Virtuele machines" />
            </div>
            <MudTable Style="width: 100%"
                  Items="@virtualMachines"
                  Dense="false"
                  Hover="true"
                  Bordered="true"
                  Striped="false"
                  Filter="new Func<Shared.VirtualMachines.VirtualMachineDto.Detail,bool>(FilterFunc1)"
                  @bind-SelectedItem="selectedItem1">
                <ToolBarContent>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString1"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0" />
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>ID</MudTh>
                    <MudTh>Naam</MudTh>
                    <MudTh>FQDN</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Template</MudTh>
                    <MudTh>Mode</MudTh>
                    <MudTh>Host</MudTh>
                    <MudTh>Beschikbaar op</MudTh>
                    <MudTh>Back-ups</MudTh>
                    <MudTh>Aanvragingsdatum</MudTh>
                    <MudTh>Startdatum</MudTh>
                    <MudTh>Einddatum</MudTh>
                    <MudTh>Reden</MudTh>
                    <MudTh>Poorten</MudTh>
                    <MudTh>vCPUs</MudTh>
                    <MudTh>Geheugen</MudTh>
                    <MudTh>Opslag</MudTh>
                    <MudTh>Beheerder</MudTh>
                    <MudTh>Aanvrager</MudTh>
                    <MudTh>Gebruiker</MudTh>
                    <MudTh>VPN</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Style="@style" DataLabel="Id"><a href="/virtual-machine/@context.Id">@context.Id</a></MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Name</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Fqdn</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@Localizer[context.Status.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Id"> @Localizer[context.Template.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Mode.ToString()</MudTd>
                    <MudTd Style="@style" DataLabel="Id"><a href="/host/@context.Host.Id">@context.Host.Name</a></MudTd>
                    <MudTd Style="@style" DataLabel="Id">@string.Join(", ", context.Availabilities.Select(a=>Localizer[a]))</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@Localizer[context.BackupFrequenty.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.ApplicationDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.TimeSpan.StartDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.TimeSpan.EndDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Reason</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@string.Join(", ", context.Ports.Select(x => x.Service))</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Specification.VirtualProcessors</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Specification.Memory</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Specification.Storage</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Account.Firstname @context.Account.Lastname</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.Requester.Name</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@context.User.Name</MudTd>
                    <MudTd Style="@style" DataLabel="Id">@Localizer[context.hasVpnConnection.ToString()]</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
    </div>
</div>
}

