@page "/virtual-machine/advanced-list"
@attribute [Authorize]

<div class="center-table">
    <div class="table-wrapper">
        <MudTable Style="width: 100%" Items="@virtualMachines" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Shared.VirtualMachines.VirtualMachineDto.Detail,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Virtuele machines</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Fqdn</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Template</MudTh>
                <MudTh>Mode</MudTh>
                <MudTh>Availabilities</MudTh>
                <MudTh>BackupFrequency</MudTh>
                <MudTh>ApplicationDate</MudTh>
                <MudTh>StartDate</MudTh>
                <MudTh>EndDate</MudTh>
                <MudTh>Reason</MudTh>
                <MudTh>Ports</MudTh>
                <MudTh>VirtualProcessors</MudTh>
                <MudTh>Memory</MudTh>
                <MudTh>Storage</MudTh>
                <MudTh>Host</MudTh>

            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Fqdn">@context.Fqdn</MudTd>
                <MudTd DataLabel="Status">@context.Status.ToString()</MudTd>
                <MudTd DataLabel="Id">@context.Name</MudTd>
                <MudTd DataLabel="Id">@context.Template.ToString()</MudTd>
                <MudTd DataLabel="Id">@context.Mode.ToString()</MudTd>
                <MudTd DataLabel="Id">@string.Join(", ", context.Availabilities)</MudTd>
                <MudTd DataLabel="Id">@context.BackupFrequenty.ToString()</MudTd>
                <MudTd DataLabel="Id">@context.ApplicationDate</MudTd>
                <MudTd DataLabel="Id">@context.TimeSpan.StartDate</MudTd>
                <MudTd DataLabel="Id">@context.TimeSpan.EndDate</MudTd>
                <MudTd DataLabel="Id">@context.Reason</MudTd>
                <MudTd DataLabel="Id">@string.Join(", ", context.Ports)</MudTd>
                <MudTd DataLabel="Id">@context.Specification.VirtualProcessors</MudTd>
                <MudTd DataLabel="Id">@context.Specification.Memory</MudTd>
                <MudTd DataLabel="Id">@context.Specification.Storage</MudTd>
                <MudTd DataLabel="Id">@context.Host.Name</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>
</div>
