@page "/virtual-machine/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Virtuele Machine Toevoegen</PageTitle>

<EditForm OnValidSubmit="@HandleValidSubmit" Model="@VirtualMachine">
    <FluentValidationValidator TValidator="VirtualMachineValidation" />
    <div class="context-menu">
        <span class="context-menu-label">
            <TitlePage IconString="desktop" Type="Virtuele Machine" Mutation="Toevoegen" />
        </span>
        <button type="submit">Toevoegen</button>
    </div>
    <div class="three-column-layout">
        <div class="one-third">
            <Title Text="Configuratie" />
            <RequiredInput Type="@Input.InputType.TEXT" Label="Naam" @bind-Value="VirtualMachine.Name" For="@(()=>VirtualMachine.Name)" />
            <RequiredInput Type="@Input.InputType.TEXT" Label="FQDN" @bind-Value="VirtualMachine.Fqdn" For="@(()=>VirtualMachine.Fqdn)" />
            @*            <RequiredInput Type="@Input.InputType.SELECT" Label="Mode" Items="@Modes" @bind-Value="VirtualMachine.Mode" For="@(()=>VirtualMachine.Mode)" />
            <RequiredInput Type="@Input.InputType.SELECT" Label="Template" Items="@Templates" @bind-Value="VirtualMachine.Template" For="@(()=>VirtualMachine.Template)" />*@
            <CustomDropDown Label="Mode" Items="@MakeModeItems()" Action="@SetModeValue" />
            <ValidationMessage For=@(() => VirtualMachine.Status) />

            <CustomDropDown Label="Template" Items="@MakeTemplateItems()" Action="@SetTemplateValue" />
            <ValidationMessage For=@(() => VirtualMachine.Status) />



            <RequiredInput Type="@Input.InputType.TEXT" Label="Reden" @bind-Value="@VirtualMachine.Reason" For="@(()=>VirtualMachine.Reason)" />

            @*<RequiredInput Type="@Input.InputType.SELECT" Label="Status" Items="@Statuses" @bind-Value="VirtualMachine.Status" For="@(()=>VirtualMachine.Status)" />*@
            <CustomDropDown Label="Status" Items="@MakeStatusItems()" Action="@SetStatusValue" />
            <ValidationMessage For=@(() => VirtualMachine.Status) />

            <Title Text="Poorten" />

            @*<EditForm Model="@Port" Context="PortContext" OnValidSubmit="@AddPortToList">

                <div>
                    <div class="input-container" style="margin-top: 10px">
                        <select @bind="SelectedPort" class="input" style="@_customcss" type="text" placeholder="geef een poort in">
                            <option value="" disabled selected hidden>Geef een poort in </option>
                            @foreach (var item in PortOptions)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                        <button type="submit" style="margin-left:10px;" @onclick="AddPortToList"> + </button>
                    </div>
                </div>
            </EditForm>
            <div class="buttonList">
                @foreach (var item in _ports)
                {
                    <PortButton Text="@item" OnClick="@(() => RemovePortFromList(item))" />
                }
            </div>*@

            <CustomCheckbox Label="VPN" @bind-Value="VirtualMachine.hasVpnConnection"></CustomCheckbox>





            <Title Text="Specificaties" />
            @*<RequiredInput Type="@Input.InputType.SELECT" Label="Host" Items="@Hosts" @bind-Value="Host" For="@(()=>Host)" />*@
            <CustomDropDown Label="Host" Items="@MakeHostItems()" Action="@SetHostValue" />
            <ValidationMessage For=@(() => VirtualMachine.Host) />

            <CustomInputNumber Label="vCPUs" @bind-Value="@VirtualMachine.Specifications.VirtualProcessors" For="@(()=>VirtualMachine.Specifications.VirtualProcessors)" Required=true />
            <CustomInputNumber Label="Geheugen" @bind-Value="@VirtualMachine.Specifications.Memory" For="@(()=>VirtualMachine.Specifications.Memory)" Required=true />
            <CustomInputNumber Label="Opslag" @bind-Value="@VirtualMachine.Specifications.Storage" For="@(()=>VirtualMachine.Specifications.Storage)" Required=true />
        </div>
        <div class="one-third">
            <Title Text="Beschikbaarheid" />
            <CustomInputDate Label="Datum van aanvraag" @bind-Value="@VirtualMachine.ApplicationDate" For="@(()=>VirtualMachine.ApplicationDate)" Required=true />
            <CustomInputDate Label="Startdatum" @bind-Value="@VirtualMachine.StartDate" For="@(()=>VirtualMachine.StartDate)" Required=true />
            <CustomInputDate Label="Einddatum" @bind-Value="@VirtualMachine.EndDate" For="@(()=>VirtualMachine.EndDate)" Required=true />


            @*<EditForm Context="AvailabilityContext" OnValidSubmit="@AddAvailability" Model="@selectedAvailability">
            <AvailabilityOptionSelect customCss="@_customcss" />
            <div style="display:flex; width: 100%; justify-content: end; margin: var(--padding-sm) 0px">
            <button type="submit">Toevoegen</button>
            </div>


            </EditForm>
            @foreach(var availability in Availabilities){
            <AvailabilityOption DayOfWeek="Availability.Wednesday" PartOfDay="PartOfDay.FullDay" customCss="@_customcss" />
            }*@


            <Title Text="Back-ups" />
            <CustomDropDown Label="Status" Items="@MakeBackUpFrequencyItems()" Action="@SetBackUpFrequencyValue" />
            <ValidationMessage For=@(() => VirtualMachine.BackupFrequency) />
            @*<RequiredInput PlaceHolder="" Items="@Backups" Type="@Input.InputType.SELECT" Label="Regelmaat" @bind-Value="@VirtualMachine.BackupFrequency" For="@(()=>VirtualMachine.BackupFrequency)" />*@
        </div>

        <div class="one-third">
            <Title Text="Gebruikers"></Title>
            @*<RequiredInput Type="@Input.InputType.SELECT" Label="Aanvrager" Items="@Customers" @bind-Value="@VirtualMachine.Requester" For="@(()=>VirtualMachine.Requester)" />
            <RequiredInput Type="@Input.InputType.SELECT" Label="Gebruiker" Items="@Customers" @bind-Value="@VirtualMachine.User" For="@(()=>VirtualMachine.User)" />

            <Title Text="Verantwoordelijke"></Title>
            <RequiredInput Type="@Input.InputType.SELECT" Label="Verantwoordelijke" Items="@Accounts" @bind-Value="@VirtualMachine.Account" For="@(()=>VirtualMachine.Account)" />*@


            @*            <ChildContent  Context="" />
            <GenericSelect Items="@Account">

            @context

            </GenericSelect>
            *@
            <Title Text="Logingegevens" />
            <EditForm Context="CredentialContext" OnValidSubmit="@AddCredential" Model="@newCredential">
                <FluentValidationValidator TValidator="CredentialValidation" />
                <AddInput Type="Input.InputType.TEXT" Label="Username" @bind-Value="newCredential.Username" For="@(()=> newCredential.Username)" Margin="true" />
                <AddInput Type="Input.InputType.TEXT" Label="Role" @bind-Value="newCredential.Role" For="@(()=> newCredential.Role)" Margin="true" />
                <AddInput Type="Input.InputType.TEXT" Label="PasswordHash" @bind-Value="newCredential.PasswordHash" For="@(()=> newCredential.PasswordHash)" Margin="true" />
                <button type="submit">Toevoegen</button>
            </EditForm>


            @foreach (var c in credentialList)
            {
                Dictionary<string, string> entry = new() { { "Username", c.Username }, { "Role", c.Role }, { "Passwordhash", c.PasswordHash } };
                <DataCard Entries="@entry" customCss="@_customcss" />
            }


        </div>


    </div>
</EditForm>







