@page "/virtual-machine/add"
@using Blazored.FluentValidation
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Virtuele machine toevoegen</PageTitle>

@if (FetchingResources)
{
    <Loading />
}
else
{
    <EditForm OnValidSubmit="@HandleValidSubmit" Model="@VirtualMachine">
        <FluentValidationValidator />
        <TopBar>
            <ButtonGroup>
                <FormHeader Icon="fa-solid fa-desktop" Text="Virtuele machine toevoegen" />
            </ButtonGroup>
            <span class="outline-end">
                <button class="button" type="submit">Toevoegen</button>
            </span>
        </TopBar>
        <ThreeColumnLayout>
            <OneWidth>
                <Title Text="Configuratie" />

                <LabelInput Label="Naam"
                        Required="@true"
                        @bind-Value="VirtualMachine.Name"
                        For="@(() => VirtualMachine.Name)"
                        TestValue="WebServer 1" />

                <LabelInput Label="FQDN"
                        Required="@true"
                        @bind-Value="VirtualMachine.Fqdn"
                        For="@(() => VirtualMachine.Fqdn)"
                        TestValue="vic-devops-eu-webserver-1" />

                <DropDown Label="Mode"
                      Required="@true"
                      Options="@MakeModeItems()"
                      OnChange="@SetMode">
                    <ValidationMessage For=@(() => VirtualMachine.Mode) />
                </DropDown>

                <DropDown Label="Template"
                      Required="@true"
                      Options="@MakeTemplateItems()"
                      OnChange="@SetTemplate">
                    <ValidationMessage For=@(() => VirtualMachine.Template) />
                </DropDown>

                <LabelInput Label="Reden"
                        Required="@true"
                        @bind-Value="VirtualMachine.Reason"
                        For="@(() => VirtualMachine.Reason)"
                        TestValue="Bachelorproef" />

                <DropDown Label="Status"
                      Required="@true"
                      Options="@MakeStatusItems()"
                      OnChange="@SetStatus">
                    <ValidationMessage For=@(() => VirtualMachine.Status) />
                </DropDown>
                
                <Title Text="Poorten" />
                <DropDown Label="Poort" Options="@MakePortItems()" OnChange="@SetPortValue" />

                @if (selectedPorts is not null && selectedPorts.Any())
                {
                    <ButtonGroup>
                        @foreach (var port in selectedPorts)
                        {
                            <PortButton Text="@port.Service" OnClick="@(() => UnSelectPort(port))" />
                        }
                    </ButtonGroup>
                }
                else
                {
                    <NoResultsMessage Message="Geen poorten gekozen." InverseStyle=true />
                }

                <Checkbox Label="VPN" @bind-Value="VirtualMachine.hasVpnConnection" />

            </OneWidth>
            <OneWidth>
                <Title Text="Specificaties" />

                <DropDown Label="Host"
                      Required="@true"
                      Options="@MakeHostItems()"
                      OnChange="@SetHostValue">
                    <ValidationMessage For=@(() => VirtualMachine.HostId) />
                </DropDown>

                <LabelInputNumber Label="vCPUs"
                              Required="@true"
                              @bind-Value="@VirtualMachine.Specifications.VirtualProcessors"
                              For="@(()=>VirtualMachine.Specifications.VirtualProcessors)"
                              DefaultValue="1" />

                <LabelInputNumber Label="Geheugen"
                              Required="@true"
                              @bind-Value="@VirtualMachine.Specifications.Memory"
                              For="@(()=>VirtualMachine.Specifications.Memory)"
                              DefaultValue="1" />

                <LabelInputNumber Label="Opslag"
                              Required="@true"
                              @bind-Value="@VirtualMachine.Specifications.Storage"
                              For="@(()=>VirtualMachine.Specifications.Storage)"
                              DefaultValue="1" />
                
                <Title Text="Beschikbaarheid" />

                <LabelInputDate Label="Aangevraagd op"
                            Required="@true"
                            @bind-Value="@VirtualMachine.ApplicationDate"
                            For="@(()=>VirtualMachine.ApplicationDate)"
                            DefaultValue="@DateTime.UtcNow" />

                <LabelInputDate Label="Start"
                            Required="@true"
                            @bind-Value="@VirtualMachine.StartDate"
                            For="@(()=>VirtualMachine.StartDate)"
                            TestValue="@DateTime.UtcNow.AddDays(1)" />

                <LabelInputDate Label="Eind"
                            Required="@true"
                            @bind-Value="@VirtualMachine.EndDate"
                            For="@(()=>VirtualMachine.EndDate)"
                            TestValue="@DateTime.UtcNow.AddDays(2)" />



                <DropDown Label="Beschikbaarheid"
                      Required="@true"
                      Options="@MakeAvailibilityItems()"
                      OnChange="@AddDay" />

                @if (chosenDays.Any())
                {
                    <ButtonGroup>
                        @foreach (var day in chosenDays)
                        {
                            <PortButton Text="@Localizer[day.ToString()]" OnClick="@(() => RemoveDay(day))" />
                        }
                    </ButtonGroup>
                }
                else
                {
                    <NoResultsMessage Message="Geen dagen gekozen." InverseStyle=true />
                }

                <Title Text="Back-ups" />
                <DropDown Label="Regelmaat"
                      Required="@true"
                      Options="@MakeBackUpFrequencyItems()"
                      OnChange="@SetBackUpFrequency">
                    <ValidationMessage For=@(() => VirtualMachine.BackupFrequency) />
                </DropDown>
                
            </OneWidth>
            <OneWidth>
                <Title Text="Gebruikers"></Title>

                <DropDown Label="Aanvrager"
                      Required="@true"
                      Options="@MakeCustomerItems()"
                      OnChange="@SetRequester">
                    <ValidationMessage For=@(() => VirtualMachine.RequesterId) />
                </DropDown>

                <DropDown Label="Gebruiker"
                      Required="@true"
                      Options="@MakeCustomerItems()"
                      OnChange="@SetUser">
                    <ValidationMessage For=@(() => VirtualMachine.UserId) />
                </DropDown>

                <DropDown Label="Beheerder"
                      Required="@true"
                      Options="@MakeAccountItems()"
                      OnChange="@SetAccount">
                    <ValidationMessage For=@(() => VirtualMachine.AdministratorId) />
                </DropDown>

                <Title Text="Logingegevens" />
                <EditForm Context="CredentialContext" OnValidSubmit="@AddCredential" Model="@NewCredentials">
                    <FluentValidationValidator />
                    <OneWidth>
                        <LabelInput Label="Gebruikersnaam"
                                Required="@true"
                                @bind-Value="NewCredentials.Username"
                                For="@(() => NewCredentials.Username)"
                                TestValue="Joren" />

                        <LabelInput Label="Rol"
                                Required="@true"
                                @bind-Value="NewCredentials.Role"
                                For="@(() => NewCredentials.Role)"
                                TestValue="Gebruiker" />

                        <LabelInput Label="Wachtwoord"
                                Required="@true"
                                InputType="password"
                                @bind-Value="NewCredentials.PasswordHash"
                                For="@(() => NewCredentials.PasswordHash)"
                                TestValue="JoR3n!-53" />
                        <ButtonGroup>
                            <span class="outline-end">
                                <button class="button" type="submit">Toevoegen</button>
                            </span>
                        </ButtonGroup>
                    </OneWidth>
                </EditForm>


                @foreach (var credentials in credentialsList)
                {
                    Dictionary<string, string> entry = new() 
                    { 
                        { "Gebruikersnaam", credentials.Username }, 
                        { "Rol", credentials.Role }, 
                    };
                    <DataCard Entries="@entry"
                      InverseStyle="@true"
                      HoverIcon="fa-solid fa-xmark fa-lg"
                      OnClick="() => RemoveCredentials(credentials)" />
                }
            </OneWidth>
        </ThreeColumnLayout>
    </EditForm>
}