@page "/virtual-machine/{id:long}"
@attribute [Authorize]

<PageTitle>Details virtuele machine</PageTitle>

@if(machine is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack" />
                <span class="outline-end">
                    <StatusIndicator State="@machine.Status.ToString()" />
                </span>
                <AuthorizeView Roles="Master, Administrator">
                    <Button Text="Beheren" IsEnabled="@false" />
                </AuthorizeView>
            </ButtonGroup>

            <DataCard Entries="@datacards.GetValueOrDefault(GENERAL_INFORMATION_KEY)" />
            <DataCard 
                Entries="@datacards.GetValueOrDefault(HOST_NAME_KEY)" 
                OnClick="NavigateToHost"
                HoverIcon="fa-solid fa-arrow-right fa-lg" />

            <Title Text="Specificaties en configuratie" />
            <DataCard Entries="@datacards.GetValueOrDefault(SPECIFICATIONS_KEY)" />
            <DataCard Entries="@datacards.GetValueOrDefault(CONFIGURATION_KEY)" />
            <DataCard Entries="@datacards.GetValueOrDefault(PORTS_KEY)" />
        </OneWidth>
        <OneWidth>
            <Title Text="Beschikbaarheid en back-ups" />
            <DataCard Entries="@datacards.GetValueOrDefault(BACKUPS_KEY)" />
            <DataCard Entries="@datacards.GetValueOrDefault(AVAILABILITY_KEY)" />
            
            <Title Text="Klanten" />
            <DataCard 
                Entries="@datacards.GetValueOrDefault(REQUESTER_KEY)" 
                OnClick="NavigateToRequester"
                HoverIcon="fa-solid fa-arrow-right fa-lg"/>
            <DataCard 
                Entries="@datacards.GetValueOrDefault(USER_KEY)" 
                OnClick="NavigateToUser"
                HoverIcon="fa-solid fa-arrow-right fa-lg" />

            <Title Text="Beheerder" />
            <DataCard 
                Entries="@datacards.GetValueOrDefault(ADMIN_KEY)" 
                OnClick="NavigateToAdministrator"
                HoverIcon="fa-solid fa-arrow-right fa-lg" />
        </OneWidth>
        <OneWidth>
            <Title Text="Logingegevens" />
            @foreach (var data in credentials)
            {
                <DataCard Entries="@data" />
            }
        </OneWidth>
    </ThreeColumnLayout>
}






