@page "/virtual-machine/{id:long}"
@attribute [Authorize]

<PageTitle>Details machine</PageTitle>

@if(machine is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack" />
                <span class="outline-end">
                    <StatusIndicator State="@machine.Status.ToString()" />
                </span>
                <AuthorizeView Roles="Master, Administrator">
                    <Button Text="Beheren" />
                </AuthorizeView>
            </ButtonGroup>

            <DataCard Entries="@generalInformation" />
            <DataCard Entries="@host" OnClick="NavigateToHost" />

            <Title Text="Specificaties en configuratie" />
            <DataCard Entries="@specifications" />
            <DataCard Entries="@configuration" />
            <DataCard Entries="@ports" />
        </OneWidth>
        <OneWidth>
            <Title Text="Beschikbaarheid en back-ups" />
            <DataCard Entries="@availabilities" />
            <DataCard Entries="@backup" />

            <Title Text="Klanten" />
            <DataCard Entries="@requester" OnClick="NavigateToRequester" />
            <DataCard Entries="@user" OnClick="NavigateToUser" />

            <Title Text="Beheerder" />
            <DataCard Entries="@administrator" OnClick="NavigateToAdministrator" />
        </OneWidth>
        <OneWidth>
            <Title Text="Logingegevens" />
            @foreach (var data in loginCredentials)
            {
                <DataCard Entries="@data" />
            }
        </OneWidth>
    </ThreeColumnLayout>
}






