@page "/virtual-machine/list"
@attribute [Authorize]

@if (virtualMachines is null)
{
    <Loading />
}
else
{
    <AuthorizeView Roles="Master, Administrator">
        <TopBar>
            <ButtonGroup>
                <Label Text="Toevoegen" />
                <Button Href="/virtual-machine/add" Text="Virtuele machine" />
                <Button Href="/host/add" Text="Host" />
            </ButtonGroup>
        </TopBar>
    </AuthorizeView>

    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Filteropties" />

            <div style="display: flex; justify-content: space-between;">
                <Button Text="Reset" OnClick="() => ResetFilter()" />
                <Button Text="Filteren" OnClick="HandleFilter" />
            </div>

            <Searchbar @bind-Searchterm="@SearchValue" PlaceHolder="Geef een zoekterm in" />
            <ButtonGroup>
                <Label Text="Toon meer"/>
                <Button Text="Tabel" OnClick="ShowMoreDetails" />
            </ButtonGroup>
        </OneWidth>
        <TwoWidth>

            <Title Text="Alle virtuele machines" />

            @if (virtualMachines.Any())
            {
               <WithTwoColumns>
                    <div>
                        @foreach (var machine in virtualMachines.Take(10))
                        {
                            <StatusCard 
                                Value="@machine.Fqdn"
                                Active="@machine.IsActive()" 
                                Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                    <div>
                        @foreach (var machine in virtualMachines.Skip(10).Take(10))
                        {
                            <StatusCard 
                                Value="@machine.Fqdn"
                                Active="@machine.IsActive()"
                                Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                </WithTwoColumns>
                <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
            }
            else
            {
                <NoResultsMessage Message="Er zijn geen virtuele machines die overeenstemmen met opgegeven zoekcriteria" />
            } 
        </TwoWidth>
    </ThreeColumnLayout>
}




