@page "/virtual-machine/list"
@attribute [Authorize]


<div class="top-bar">
    <Label Text="Toevoegen" />
    <Button Href="/virtual-machine/add" Text="Virtuele machine" />
    <Button Href="/host/add" Text="Host" />
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title Text="Filteropties" />
        <div style="display: flex; justify-content: space-between;">
            <Button Text="Reset" OnClick="() => ResetFilter()" />
            <Button Text="Filteren" OnClick="HandleFilter" />
        </div>
        <Searchbar @bind-Searchterm="@SearchValue" PlaceHolder="Geef een zoekterm in" />
        <Button Text="Toon meer" OnClick="ShowMoreDetails" />
    </div>
    <div class="two-thirds">
        <Title Text="Alle virtuele machines" />
        
            @if (virtualMachines.Any())
            {
                <div class="two-columns-container">
                <div>
                    @foreach (var vm in virtualMachines.Take(10))
                    {
                        <EntityCard Value="@vm.Fqdn" Active=@(!(vm.Status == Status.InProgress || vm.Status == Status.Requested)) Href=@string.Concat("virtual-machine/", vm.Id)></EntityCard>
                    }
                </div>
                <div>
                    @foreach (var vm in virtualMachines.Skip(10).Take(10))
                    {
                        <EntityCard Value="@vm.Fqdn" Active=@(vm.Status == Status.InProgress || vm.Status == Status.Requested) Href=@string.Concat("virtual-machine/", vm.Id)></EntityCard>
                    }
                </div>
            </div>
            }
            else
            {
                <NoResultsMessage Message="Oei, er zijn geen virtuele machines met de gegeven zoekcriteria." />
            }

        <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
    </div>
</div>




