@page "/virtual-machine/table"
@layout NoGlobalSearchLayout
@attribute [Authorize]


@if(virtualMachines == null)
{
    <Loading />
}
else {
<div class="center-table">
    <div class="table-wrapper">
            <div class="padding-bottom">
                <Title Text="Virtuele machines" />
            </div>
            <MudTable Style="width: 100%"
                  Items="@virtualMachines"
                  Dense="false"
                  Hover="true"
                  Bordered="true"
                  Striped="false"
                  Filter="new Func<VirtualMachineDto.Detail,bool>(FilterTable)"
                  @bind-SelectedItem="chosenMachine">
                <ToolBarContent>
                    <MudSpacer />
                    <MudTextField @bind-Value="searchString"
                              Placeholder="Zoeken..."
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0" />
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>ID</MudTh>
                    <MudTh>Naam</MudTh>
                    <MudTh>FQDN</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Template</MudTh>
                    <MudTh>Mode</MudTh>
                    <MudTh>Host</MudTh>
                    <MudTh>Beschikbaar op</MudTh>
                    <MudTh>Back-ups</MudTh>
                    <MudTh>Aanvragingsdatum</MudTh>
                    <MudTh>Startdatum</MudTh>
                    <MudTh>Einddatum</MudTh>
                    <MudTh>Reden</MudTh>
                    <MudTh>Poorten</MudTh>
                    <MudTh>vCPUs</MudTh>
                    <MudTh>Geheugen</MudTh>
                    <MudTh>Opslag</MudTh>
                    <MudTh>Beheerder</MudTh>
                    <MudTh>Aanvrager</MudTh>
                    <MudTh>Gebruiker</MudTh>
                    <MudTh>VPN</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Style="@style" DataLabel="ID"><a href="/virtual-machine/@context.Id">@context.Id</a></MudTd>
                    <MudTd Style="@style" DataLabel="Naam">@context.Name</MudTd>
                    <MudTd Style="@style" DataLabel="FQDN">@context.Fqdn</MudTd>
                    <MudTd Style="@style" DataLabel="Status">@Localizer[context.Status.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Template"> @Localizer[context.Template.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Mode">@context.Mode.ToString()</MudTd>
                    <MudTd Style="@style" DataLabel="Host"><a href="/host/@context.Host.Id">@context.Host.Name</a></MudTd>
                    <MudTd Style="@style" DataLabel="Beschikbaar op">@string.Join(", ", context.Availabilities.Select(a=>Localizer[a]))</MudTd>
                    <MudTd Style="@style" DataLabel="Back-ups">@Localizer[context.BackupFrequenty.ToString()]</MudTd>
                    <MudTd Style="@style" DataLabel="Aanvragingsdatum">@context.ApplicationDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Startdatum">@context.TimeSpan.StartDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Einddatum">@context.TimeSpan.EndDate.FormatDate()</MudTd>
                    <MudTd Style="@style" DataLabel="Reden">@context.Reason</MudTd>
                    <MudTd Style="@style" DataLabel="Poorten">@string.Join(", ", context.Ports.Select(x => x.Service))</MudTd>
                    <MudTd Style="@style" DataLabel="vCPUs">@context.Specification.VirtualProcessors</MudTd>
                    <MudTd Style="@style" DataLabel="Geheugen">@context.Specification.Memory</MudTd>
                    <MudTd Style="@style" DataLabel="Opslag">@context.Specification.Storage</MudTd>
                    <MudTd Style="@style" DataLabel="Beheerder">@context.Account.GetFullName()</MudTd>
                    <MudTd Style="@style" DataLabel="Aanvrager">@context.Requester.Name</MudTd>
                    <MudTd Style="@style" DataLabel="Gebruiker">@context.User.Name</MudTd>
                    <MudTd Style="@style" DataLabel="VPN">@Localizer[context.hasVpnConnection.ToString()]</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
    </div>
</div>
}

