@page "/account/add"
@page "/account/{id:long}/edit"
@layout SharedFiles.NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master")]

<PageTitle>Account Toevoegen</PageTitle>

<EditForm Model="@Account" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator/>
    <div class="top-bar">
        
        <span class="top-bar-label">
            @if (Convert.ToBoolean(Id))
            {
                <TitlePage IconString="user" Type="Account" Mutation="Wijzigen" />
            }
            else
            {
                <TitlePage IconString="user" Type="Account" Mutation="Toevoegen" />
            }

        </span>
        @if (Convert.ToBoolean(Id))
        {
            <button type="submit">Wijzigen </button>
        }
        else
        {
            <button type="submit">Toevoegen </button>
        }

    </div>
    <div class="three-column-layout">
        <div class="one-third">
            <Title Text="Algemene informatie" />
            <AddInput Type="@Input.InputType.SELECT" Label="Rol" Required="@true" Items="@roles" @bind-Value="Account.Role" For="@(()=>Account.Role)"/>
            <AddInput Type="@Input.InputType.TEXT" Label="Departement" Required="@true" @bind-Value="Account.Department" For="@(() => Account.Department)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Opleiding" Required="@false" @bind-Value="Account.Education" For="@(() => Account.Education)" />
            <CustomCheckbox Label="Actief" @bind-Value="@Account.IsActive" />
        </div>
        <div class="one-third">
            <Title Text="Accountgegevens" />
            <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" Required="@true" @bind-Value="Account.Firstname" For="@(() => Account.Firstname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="Naam" Required="@true" @bind-Value="Account.Lastname" For="@(() => Account.Lastname)" />
            <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" Required="@true" @bind-Value="Account.Email" For="@(() => Account.Email)" />

            @if (!Convert.ToBoolean(Id))
            {
                <AddInput Type="@Input.InputType.TEXT" Label="Wachtwoord" Required="@true" @bind-Value="Account.Password" For="@(() => Account.Password)" />

            }
            </div>
        <div class="one-third">
        </div>
    </div>
</EditForm>