@page "/account/add"
@page "/account/{id:long}/edit"
@layout SharedFiles.NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master")]

<PageTitle>Beheerder toevoegen</PageTitle>

<EditForm Model="@Account" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator/>
    <TopBar>
        <ButtonGroup>
            <FormHeader Icon="fa-solid fa-user" Text="Beheerder toevoegen" />
        </ButtonGroup>
        <span class="outline-end">
            <button class="button" type="submit">Toevoegen</button>
        </span>
    </TopBar>
    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Algemene informatie" />

            <LabelSelect
                Label="Rol"
                Options="@roles"
                DisplayOptions="@translatedRoles"
                @bind-Value="@Account.Role"
                For="@(()=>Account.Role)" />

            <AddInput 
                Type="@Input.InputType.TEXT" 
                Label="Departement" 
                Required="@true" 
                @bind-Value="Account.Department" 
                For="@(() => Account.Department)" />

            <AddInput 
                Type="@Input.InputType.TEXT" 
                Label="Opleiding" 
                Required="@false" 
                @bind-Value="Account.Education"
                For="@(() => Account.Education)" />

            <CustomCheckbox Label="Actief" @bind-Value="@Account.IsActive" />
        </OneWidth>
        <OneWidth>
            <Title Text="Accountgegevens" />
            <AddInput 
                Type="@Input.InputType.TEXT" 
                Label="Voornaam" 
                Required="@true" 
                @bind-Value="Account.Firstname" 
                For="@(() => Account.Firstname)" />

            <AddInput 
                Type="@Input.InputType.TEXT" 
                Label="Naam" Required="@true" 
                @bind-Value="Account.Lastname" 
                For="@(() => Account.Lastname)" />

            <AddInput 
                Type="@Input.InputType.TEXT"
                Label="E-mailadres" 
                Required="@true" @bind-Value="Account.Email" 
                For="@(() => Account.Email)" />

            <AddInput 
                Type="@Input.InputType.TEXT" 
                Label="Wachtwoord" Required="@true" 
                @bind-Value="Account.Password" 
                For="@(() => Account.Password)" />
        </OneWidth>
        <OneWidth>

        </OneWidth>
    </ThreeColumnLayout>
</EditForm>