@page "/account/add"
@page "/account/{id:long}/edit"
@layout SharedFiles.NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master")]

<PageTitle>Beheerder toevoegen</PageTitle>

<EditForm Model="@Account" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator/>
    <TopBar>
        <ButtonGroup>
            <FormHeader Icon="fa-solid fa-user" Text="Beheerder toevoegen" />
        </ButtonGroup>
        <span class="outline-end">
            <button class="button" type="submit">Toevoegen</button>
        </span>
    </TopBar>
    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Algemene informatie" />

            <DropDown Label="Rol"
                      Required="@true"
                      Options="translatedRoles"
                      OnChange="SetRole" />
            <ValidationMessage For="@(() => Account.Role)" />

            <LabelInput Label="Departement"
                        Required="@true"
                        @bind-Value="Account.Department"
                        For="@(() => Account.Department)" 
                        TestValue="IT en Digitale Innovatie"/>

            <LabelInput Label="Opleiding"
                        @bind-Value="Account.Education"
                        For="@(() => Account.Education)" 
                        TestValue="Toegepaste Informatica"/>

            <Checkbox Label="Actief"
                      @bind-Value="@Account.IsActive" />

        </OneWidth>
        <OneWidth>
            <Title Text="Accountgegevens" />

            <LabelInput Label="Voornaam"
                        Required="@true"
                        @bind-Value="Account.Firstname"
                        For="@(() => Account.Firstname)"
                        TestValue="Joren"/>

            <LabelInput Label="Naam"
                        Required="@true"
                        @bind-Value="Account.Lastname"
                        For="@(() => Account.Lastname)" 
                        TestValue="Vermeersch"/>

            <LabelInput Label="E-mailadres"
                        Required="@true"
                        InputType="email"
                        @bind-Value="Account.Email"
                        For="@(() => Account.Email)"
                        TestValue="joren.vermeersch@student.hogent.be"/>

            <LabelInput Label="Wachtwoord"
                        Required="@true"
                        InputType="password"
                        @bind-Value="Account.Password"
                        For="@(() => Account.Password)"
                        TestValue="JoR3n!-53"/>
        </OneWidth>
        <OneWidth>

        </OneWidth>
    </ThreeColumnLayout>
</EditForm>