@page "/account/{id:long}"

<PageTitle>Account Details</PageTitle>

<div class="context-menu">
    <div class="context-items" style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title" @onclick="NavigateBack">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Terug</span>
        </span>
        <StatusIndicator State=@(account.IsActive ? "Active" : "Inactive") />
        <AuthorizeView Roles="Master">
        <span>
            <Button Text="Beheren" Href=@string.Format("account/{0}/edit", Id)/>
        </span>
        </AuthorizeView>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
        <DataCard Entries="@_username" />

        <Title Text="Algemeen" />
        <DataCard Entries="@_general" />

        <Title Text="Contactgegevens" />
        <DataCard Entries="@_contactInformation" />
    </div>
    <div class="two-thirds"> 

        <Title Text="Virtuele machines" />


        @*//TODO: machines have not been fetched yet MERGE WITH BRANCH -- ROBIN*@
@*        @if (virtualMachines.Any())
        {
            <div class="two-columns-container">
                <div>
                    @foreach (var vm in virtualMachines.Take(5))
                    {
                        <EntityCard Value=@vm.FQDN Active=@(vm.Status == Status.Requested) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
                <div>
                    @foreach (var vm in virtualMachines.Skip(5).Take(5))
                    {
                        <EntityCard Value=@vm.FQDN Active=@(vm.Status == Status.Requested) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
            </div>
            <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
        }
        else
        {*@
            <NoResultsMsg Message="Deze beheerder is verantwoordelijk voor geen enkele virtuele machine." />
        @*}*@
    </div>
</div>







