@page "/account/{id:long}"
<PageTitle>Account Details</PageTitle>

@if (account is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack" />
                <span class="outline-end">
                    <StatusIndicator State="@account.GetStateString()" />
                </span>
                <AuthorizeView Roles="Master, Administrator">
                    <Button Text="Beheren" Href="@account.GetDetailUrl()" />
                </AuthorizeView>
            </ButtonGroup>
            
            <DataCard Entries="@username" />

            <Title Text="Algemeen" />
            <DataCard Entries="@generalInformation" />

            <Title Text="Contactgegevens" />
            <DataCard Entries="@contactInformation" />
        </OneWidth>
        <TwoWidth>
            <Title Text="Virtuele machines" />
            <NoResultsMessage Message="Deze beheerder is voorlopig nog geen virtuele machines toegewezen" />
        </TwoWidth>
    </ThreeColumnLayout>
}










