@page "/host/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Host toevoegen</PageTitle>

<EditForm Model="@Host" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator />
    <TopBar>
        <ButtonGroup>
            <FormHeader Icon="desktop" Text="Host toevoegen" />
        </ButtonGroup> 
        <span class="outline-end">
            <button class="button" type="submit">Toevoegen</button>
        </span>
    </TopBar>

    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Algemene informatie" />
            <AddInput Type="Input.InputType.TEXT" Label="Naam" @bind-Value="Host.Name" For="@(()=> Host.Name)" Required=true />
            <CustomInputNumber Type="Input.InputType.TEXT" Label="Geheugen" @bind-Value="Host.Specifications.Memory" For="@(()=> Host.Specifications.Memory)" Required=true />
            <CustomInputNumber Type="Input.InputType.TEXT" Label="Opslag" @bind-Value="Host.Specifications.Storage" For="@(()=> Host.Specifications.Storage)" Required=true />
            <Title Text="Processoren"></Title>

            <EditForm Context="ProcessorContext" OnValidSubmit="@AddProcessor" Model="@NewProcessor">
                <OneWidth>
                    <CustomDropDown 
                        Label="Type" 
                        Items="@MakeProcessorItems()" 
                        Action="@SetProcessorValue" />

                    <CustomInputNumber 
                        Type="Input.InputType.TEXT" 
                        Label="Virtualisatiefactor" 
                        @bind-Value="NewProcessor.VirtualisationFactor" 
                        For="@(()=> NewProcessor.VirtualisationFactor)" 
                        Margin="true" />

                    <button type="submit" class="button">Toevoegen</button>
                </OneWidth>
               
            </EditForm>
        </OneWidth>
        <OneWidth>
            <Title Text="Gekozen processoren" />
            @if (Host.Specifications.Processors.Any())
            {
                @foreach (var c in Host.Specifications.Processors)
                {
                    Dictionary<string, string> entry = new() { { "Processor", c.Key.Name }, { "Cores", c.Key.Cores.ToString() }, { "Threads", c.Key.Threads.ToString() }, { "Virtualisatie Factor", c.Value.ToString() } };
                    <DataCard Entries="@entry" customCss="@_customcss" />
                }

            }
            else
            {
                <NoResultsMessage Message="Geen processoren gekozen." />
            }
        </OneWidth>
        <OneWidth>

        </OneWidth>
    </ThreeColumnLayout>
</EditForm>


