@page "/host/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Host toevoegen</PageTitle>

@if (Processors is null) {
    <Loading />
}
else
{
    <EditForm Model="@Host" OnValidSubmit="@HandleValidSubmit">
        <FluentValidationValidator />
        <TopBar>
            <ButtonGroup>
                <FormHeader Icon="fa-solid fa-microchip" Text="Host toevoegen" />
            </ButtonGroup>
            <span class="outline-end">
                <button class="button" type="submit">Host toevoegen</button>
            </span>
        </TopBar>
        
        <ThreeColumnLayout>
            <OneWidth>
                <Title Text="Algemene informatie" />

                <LabelInput Label="Naam"
                        Required="@true"
                        @bind-Value="Host.Name"
                        For="@(() => Host.Name)" />

                <LabelInputNumber Label="Geheugen"
                              Required="@true"
                              DefaultValue="1"
                              @bind-Value="Host.Specifications.Memory"
                              For="@(()=> Host.Specifications.Memory)" />

                <LabelInputNumber Label="Opslag"
                              Required="@true"
                              DefaultValue="1"
                              @bind-Value="Host.Specifications.Storage"
                              For="@(()=> Host.Specifications.Storage)" />

                <Title Text="Kies processoren" />
                <EditForm Context="ProcessorContext" OnValidSubmit="@AddProcessor" Model="@ChosenProcessor">
                    <FluentValidationValidator />
                    <OneWidth>
                        <DropDown Label="Type"
                              Options="@SerializeProcessorsForDropDown()"
                              OnChange="@SetChosenProcessor">
                            <ValidationMessage For="@(()=> ChosenProcessor.Processor)" />
                        </DropDown>
                       

                        @if (ChosenProcessor.Processor is not null)
                        {
                            <DataCard Entries="@chosenProcessorSpecifications" InverseStyle=true />
                        }

                        <LabelInputNumber Label="Virtualisatiefactor"
                                      DefaultValue="1"
                                      @bind-Value="ChosenProcessor.VirtualisationFactor"
                                      For="@(()=> ChosenProcessor.VirtualisationFactor)" />

                        <span class="outline-end">
                            <button type="submit" class="button">Toevoegen</button>
                        </span>
                    </OneWidth>

                </EditForm>
            </OneWidth>
            <OneWidth>
                <Title Text="Gekozen processoren" Required="@true"/>
                @if (Host.Specifications.Processors.Any())
                {
                    @foreach (var processor in Host.Specifications.Processors)
                    {
                        Dictionary<string, string> specifications = new()
                        {
                            { "Processor", processor.Key.Name },
                            { "Cores", processor.Key.Cores.ToString() },
                            { "Threads", processor.Key.Threads.ToString() },
                            { "Virtualisatiefactor", processor.Value.ToString() }
                        };
                        
                        <DataCard 
                            Entries="@specifications"
                            OnClick="() => RemoveProcessor(processor)"
                            HoverIcon="fa-solid fa-xmark fa-lg"
                            InverseStyle="@true" />
                    }

                }
                else
                {
                    <NoResultsMessage Message="Geen processoren gekozen." InverseStyle=true />
                }
                <ValidationMessage For="@(()=> Host.Specifications.Processors)" />
            </OneWidth>
            <OneWidth>

            </OneWidth>
        </ThreeColumnLayout>
    </EditForm>
}




