@page "/host/{id:long}"
@attribute [Authorize]

<PageTitle>Host [host name] Details</PageTitle>

<div class="top-bar">
    <div class="top-bar-items" style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small-title" @onclick="NavigateBack">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Terug</span>
        </span>
        <AuthorizeView Roles="Master, Administrator">
        <span>
            <Button Text="Beheren" />
        </span>
        </AuthorizeView>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
        <DataCard Entries="@_server.GetValueOrDefault("name")" />
        <Title Text="Specificaties" />
        <DataCard Entries="@_server.GetValueOrDefault("resources")" />
        <Title Text="Resterende specificaties" />
        <DataCard Entries="@_server.GetValueOrDefault("remainingResources")" />

        <Title Text="Processoren"/>
        @foreach(var p in _processors)
        {
            <DataCard Entries=@p/>
        }

        
    </div>
    <div class="two-thirds">

        <Title Text="Virtuele machines" />
        @*TODO: vms ophalen voor host*@
@*        @if (virtualMachines.Any())
        {
            <div class="two-columns-container">
                <div>
                    @foreach (var vm in virtualMachines.Take(5))
                    {
                        <EntityCard Value=@vm.FQDN Active=@(vm.Status == Status.Requested || vm.Status == Status.InProgress) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
                <div>
                    @foreach (var vm in virtualMachines.Skip(5).Take(5))
                    {
                        <EntityCard Value=@vm.FQDN Active=@(vm.Status == Status.Requested || vm.Status == Status.InProgress) Href=@string.Concat("virtual-machine/", vm.Id) />
                    }
                </div>
                
            </div>


            <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
        }
        else
        {*@
            <NoResultsMessage Message="Deze server heeft geen virtuele machines."/>
        @*}*@
    </div>
</div>


