@page "/host/{id:long}"
@attribute [Authorize]

<PageTitle>Details host</PageTitle>

@if(host is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack" />
                <AuthorizeView Roles="Master, Administrator">
                    <span class="outline-end">
                        <Button Text="Beheren" />
                    </span>
                </AuthorizeView>
            </ButtonGroup>

            <DataCard Entries="@datacards.GetValueOrDefault(NAME_KEY)" />

            <Title Text="Specificaties" />
            <DataCard Entries="@datacards.GetValueOrDefault(SPECIFICATIONS_KEY)" />

            <Title Text="Resterende specificaties" />
            <DataCard Entries="@datacards.GetValueOrDefault(REMAINING_SPECIFICATIONS_KEY)" />

            <Title Text="Processoren" />
            @foreach (var processor in processors)
            {
                    <DataCard Entries=@processor />
            }
        </OneWidth>
        <TwoWidth>
            <Title Text="Virtuele machines" />
            @if(host.Machines is not null && host.Machines.Any())
            {
                <WithTwoColumns>
                    <div>
                        @foreach (var machine in host.Machines.Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                    <div>
                        @foreach (var machine in host.Machines.Skip(5).Take(5))
                        {
                            <StatusCard Value="@machine.Fqdn"
                            Active="@machine.IsActive()"
                            Href="@machine.GetDetailUrl()" />
                        }
                    </div>
                </WithTwoColumns>
                @*<PageSelector OnClick="@ChangePage" NumberOfPages=@totalPages SelectedPage="@selectedPage" />*@
            }
            else
            {
                <NoResultsMessage Message="@string.Format($"Host {host.Name} huist nog geen virtuele machines.")" />
            }
        </TwoWidth>
    </ThreeColumnLayout>
}



