@page "/host/list"
@attribute [Authorize]

<div class="context-menu">
    <Label Text="Toevoegen" />
    <Button Href="/virtual-machine/add" Text="Virtuele machine" />
    <Button Href="/host/add" Text="Host" />
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title Text="Filteropties" />

        <div style="display: flex; justify-content: space-between;">
            <Button Text="Reset" OnClick="() => ResetFilter()" />
            <Button Text="Filteren" OnClick="HandleFilter" />
        </div>
        <Searchbar @bind-Searchterm="@SearchValue" PlaceHolder="Geef een zoekterm in" />
    </div>
    <div class="two-thirds">
        <Title Text="Alle Hosts" />
        
            @if (hosts.Any())
            {
            <div class="two-columns-container">
                <div>
                    @foreach (var host in hosts.Take(10))
                    {
                        <EntityCard Value="@host.Name" Active="@true" Href=@string.Concat("host/", host.Id)></EntityCard>
                    }
                </div>
                <div>
                    @foreach (var host in hosts.Skip(10).Take(10))
                    {
                        <EntityCard Value="@host.Name" Active="@true" Href=@string.Concat("host/", host.Id)></EntityCard>
                    }
                </div>
            </div>
            }
            else
            {
                <NoResultsMsg Message="Oei, er zijn geen servers met de gegevens zoekcriteria."/>
            }
           
        
        <PageSelector OnClick="@ClickHandler" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
     </div>
        
</div>



