@page "/virtual-machine/{id:long}"
@attribute [Authorize]

<PageTitle>Virtual Machine @virtualMachine.Name  Details</PageTitle>

<div class="context-menu" >
    <div class="context-items" style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title" @onclick="NavigateBack"><i class="fa-solid fa-arrow-left" ></i>
            <span>Terug</span>
        </span>
        <StatusIndicator State="@virtualMachine.Status.ToString()" />
        <span>
            <Button Text="Beheren" />
        </span>
    </div>
</div>

<div class="three-column-layout">
    <div class="one-third">
        <DataCard Entries="@_defaultInformation" />

        <Title Text="Specificaties en configuratie" />
        <DataCard Entries="@_specs" />
        <DataCard Entries="@_config" />
        <DataCard Entries="@_ports" />

        <Title Text="Beschikbaarheid en back-ups" />
        <DataCard Entries="@_available" />
        <DataCard Entries="@_backups" />

    </div>
<div class="one-third">
    <Title Text="Logingegevens" />
    @foreach(var data in _logindata){
            <DataCard Entries="@data" />
    }
     
</div>
<div class="one-third">
    <Title Text="Aanvrager" />
    <DataCard Entries="@_requester" />

    <Title Text="Gebruiker" />
    <DataCard Entries="@_user" />

    <Title Text="Verantwoordelijken" />
    <DataCard Entries="@_personincharge" />
</div>
</div>





