@page "/addcustomer"
@layout NoGlobalSearchLayout

<PageTitle>Klant Toevoegen</PageTitle>

<div class="three-thirds">
    <div style="display: flex">
        <span style="flex: 1" class="small_title">Klant toevoegen</span>
        <Button Text="Toevoegen" />
    </div>
</div>
<div class="one-third">
    <Title text="Algemene informatie" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Naam" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.SELECT" Label="Department" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.SELECT" Label="Opleiding" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.SELECT" Label="Type" customCss="@_customcss" />
</div>
<div class="one-third">
    <Title text="Contactgegevens" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Voornaam" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Naam" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="E-mailadres" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Telefoonnummer" customCss="@_customcss" />
</div>
<div class="one-third">
    <Title text="Back-up contactgegevens" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Voornaam" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Naam" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="E-mailadres" customCss="@_customcss" />
    <Input PlaceHolder="" Type="@Input.InputType.TEXT" Label="Telefoonnummer" customCss="@_customcss" />
</div>



@code {
    private string _customcss = "background-color: white";
}
