@page "/virtual-machine/add"
@layout NoGlobalSearchLayout 

<PageTitle>Virtuele Machine Toevoegen</PageTitle>

<div class="context-menu">
     <span class="context-menu-label"></span>
     <Button Text="Machine toevoegen" />
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title text="Configuratie" />
        <AddInput Type="@Input.InputType.TEXT" Label="FQDN"/>
        <AddInput Type="@Input.InputType.SELECT" Label="Mode"/>
        <AddInput Type="@Input.InputType.SELECT" Label="Template" />

        <Title text="Poorten" />
        <AddInput PlaceHolder="Geef een poort in" Items="@Options" Type="@Input.InputType.SELECT" Label="Poort" />
        <div class="buttonList">
            <Button Text="HTTP" />
            <Button Text="SSH" />
        </div>

        <Title text="Specificaties" />
        <AddInput Type="@Input.InputType.SELECT" Label="Host" />
        <AddInput Type="@Input.InputType.SELECT" Label="vCPUs" />
        <AddInput Type="@Input.InputType.SELECT" Label="Geheugen" />
        <AddInput Type="@Input.InputType.SELECT" Label="Opslag" />
    </div>
    <div class="one-third">
        <Title text="Beschikbaarheid" />
        <AddInput Type="@Input.InputType.SELECT" Label="Start" />
        <AddInput Type="@Input.InputType.SELECT" Label="Einde" />
        <AvailabilityOptionSelect customCss="@_customcss" />
        <div style="display:flex; width: 100%; justify-content: end; margin: var(--padding-sm) 0px">
            <Button Text="Toevoegen" />
        </div>
        <AvailabilityOption DayOfWeek="Availability.Wednesday" PartOfDay="PartOfDay.FullDay" customCss="@_customcss" />
        <AvailabilityOption DayOfWeek="Availability.Thursday" PartOfDay="PartOfDay.FullDay" customCss="@_customcss" />
        <AvailabilityOption DayOfWeek="Availability.Friday" PartOfDay="PartOfDay.FullDay" customCss="@_customcss" />

        <Title text="Back-ups" />
        <AddInput PlaceHolder="" Items="@Backups" Type="@Input.InputType.SELECT" Label="Regelmaat" />
    </div>
    <div class="one-third">
        <Title text="Logingegevens" />
        <AddInput Type="@Input.InputType.SELECT" Label="Gebruikersnaam"/>
        <AddInput Type="@Input.InputType.SELECT" Label="Wachtwoord" />
        <div style="display:flex; width: 100%; justify-content: end; margin: var(--padding-sm) 0px">
            <Button Text="Toevoegen" />
        </div>
        
        @foreach(KeyValuePair<int, Dictionary<string, string>> entry in _entries) {
            <DataCard OnClick="() => ClickHandler(entry.Key)" Entries="@entry.Value" customCss="@_customcss" />
        }

    </div>
</div>




@code {
    private string _customcss = "background-color: white";

    public List<string> Options { get; set; } = new() { "SelectOptionOne", "SelectOptionTwo", "SelectOptionThree" };
    public List<string> Backups { get; set; } = new() { "Dagelijks", "Wekelijks", "Maandelijks", "Jaarlijks" };
    private Dictionary<int, Dictionary<string, string>> _entries = new();

    protected override void OnInitialized()
    {
        _entries.Add(0, new() { { "Gebruikernaam", "admin" }, { "Wachtwoord", "*******" } });
        _entries.Add(1, new() { { "Gebruikernaam", "admin" }, { "Wachtwoord", "*********" } });
    }


    void ClickHandler(int id)
    {
        _entries.Remove(id);
    }

}
