@page "/"
@attribute [Authorize]


<div class="context-menu">
    <Label Text="Toevoegen" />
    <Button Text="Klant" Href="/customer/add"/>
    <Button Text="Virtuele machine" Href="/virtual-machine/add"/>
    <Button Text="Host" Href="/virtual-machine/add"/>
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title Text="Onafgewerkte virtuele machines" />
        
        @for (var i = 0; i < 8; i++)
       {
            <EntityCard Value="devops-proj1.vichogent.be"/>
        }

        <PageSelector NumberOfPages=6 />
    </div>
    <div class="two-thirds">
        <Title Text="Verbruik deze week" />
        <div class="two-columns-container">
            <div>
                <Graph Title="Virtuele machines" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel"/>
                <Graph Title="Virtuele processoren" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
            </div>
            <div>
                <Graph Title="Geheugen" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
                <Graph Title="Opslag" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
            </div>
            
        </div>
        
       
       

    </div>
</div>

@code {
   string _startLabel = "24/10", _endLabel = "30/10";    
}
