@page "/detailvm"
@layout MainLayout

<PageTitle>Virtual Machine [virtual machine name] Details</PageTitle>

<div class="three-thirds">
    <div style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title"><i class="fa-solid fa-arrow-left"></i><span>Terug</span></span>
    </div>
</div>

<div class="one-third">
    <DataCard Entries="@_defaultInformation" />

    <Title text="Specificaties en configuratie" />
    <DataCard Entries="@_specs" />
    <DataCard Entries="@_config" />

    <Title text="Beschikbaarheid en back-ups" />
    <DataCard Entries="@_available" />
    <DataCard Entries="@_backups" />
</div>
<div class="one-third">

    <div style="display: flex; align-items: flex-end; height: 50px;">
        <span style="flex: 1">
            <Button Text="Actief" />
        </span>
    </div>

    <Title text="Logingegevens" />
    @for(int i = 0; i < 3; i++){
        <DataCard Entries="@_logindata" />
    }
</div>
<div class="one-third">
    <Title text="Aanvrager" />
    <DataCard Entries="@_person" />

    <Title text="Gebruiker" />
    <DataCard Entries="@_person" />

    <Title text="Verantwoordelijken" />
    <DataCard Entries="@_personincharge" />
</div>



@code {
    private Dictionary<string, string> _defaultInformation = new();
    private Dictionary<string, string> _specs = new();
    private Dictionary<string, string> _config = new();
    private Dictionary<string, string> _available = new();
    private Dictionary<string, string> _backups = new();
    private Dictionary<string, string> _logindata = new();
    private Dictionary<string, string> _person = new();
    private Dictionary<string, string> _personincharge = new();


    protected override void OnInitialized()
    {
        _defaultInformation.Add("FQDN", "devops-proj1.vichogent.be");
        _defaultInformation.Add("Host", "EU-SERV-1");

        _specs.Add("vCPUs", "4");
        _specs.Add("Geheugen", "32 GB");
        _specs.Add("Opslag", "512 GB");

        _config.Add("Mode", "SAAS");
        _config.Add("Template", "Artificial Intelligence");
        _config.Add("Externe Toegang", "SSH, HTTP");

        _available.Add("Beschikbaarheid", "Maandag: \n Woensdag: 13:00 - 16:00");
        _available.Add("Backups", "Weekelijks");

        _backups.Add("Aangevraagd op", "2022-10-03");
        _backups.Add("Start", "2022-10-03");
        _backups.Add("Einde", "2022-10-03");

        _logindata.Add("Gebruikersnaam", "admin");
        _logindata.Add("Wachtwoord", "*********");

        _person.Add("Naam", "[voornaam achternaam]");
        _person.Add("Departement", "IT en Digitale Innovatie");

        _personincharge.Add("Opgezet door", "[voornaam].[achternaam]");
        _personincharge.Add("Ondersteuning", "[voornaam].[achternaam]");
    }
}
