@page "/"
@attribute [Authorize]



<div class="context-menu">

    <AuthorizeView Roles="Master, Administrator">
        <Label Text="Toevoegen" />
    </AuthorizeView>
    <AuthorizeView Roles="Master">
        <Button Text="Beheerder" Href="/account/add" />
    </AuthorizeView>
    <AuthorizeView Roles="Master, Administrator">
        <Button Text="Klant" Href="/customer/add" />
        <Button Href="/virtual-machine/add" Text="Virtuele machine" />
        <Button Href="/host/add" Text="Host" />
    </AuthorizeView>
    
</div>

<ThreeColumnLayout>
    <OneWidth>
        <Title Text="Onafgewerkte virtuele machines" />
        
        @foreach (var vm in virtualMachines)
        {
            <EntityCard Value="@vm.Fqdn" Active=@false Href=@string.Concat("virtual-machine/", vm.Id)></EntityCard>
        }

        <PageSelector OnClick="@ChangePage" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
    </OneWidth>
    <TwoWidth>
        <Title Text="Verbruik deze week" />
        <WithTwoColumns>
            <div>
                <BarGraph Title="Virtuele machines" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
                <BarGraph Title="Virtuele processoren" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
            </div>
            <div>
                <BarGraph Title="Geheugen" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
                <BarGraph Title="Opslag" Unit="Aantal" StartLabel="@_startLabel" EndLabel="@_endLabel" />
            </div>
        </WithTwoColumns>
    </TwoWidth>
</ThreeColumnLayout>


