@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

@if (FetchingResources())
{
    <Loading />
}
else
{
    <TopBar>
        <ButtonGroup>
            <AuthorizeView Roles="Master, Admin">
                <Label Text="Toevoegen" />
            </AuthorizeView>
            <AuthorizeView Roles="Master">
                <Button Text="Beheerder" Href="/account/add" />
            </AuthorizeView>
            <AuthorizeView Roles="Master, Admin">
                <Button Text="Klant" Href="/customer/add" />
                <Button Text="Virtuele machine" Href="/virtual-machine/add" />
                <Button Text="Host" Href="/host/add" />
            </AuthorizeView>
        </ButtonGroup>
    </TopBar>

    <ThreeColumnLayout>
        <OneWidth>
            <Title Text="Onafgewerkte virtuele machines" />
            @if (virtualMachines is not null && virtualMachines.Any())
            {
                @foreach (var machine in virtualMachines!)
                {
                    <StatusCard Value="@machine.Fqdn"
                    Active=@false
                    Href="@machine.GetDetailUrl()" />
                }
            }
            else
            {
                <NoResultsMessage Message="Er zijn geen onafgewerkte machines." />
            }

            <PageSelector OnClick="@ChangePage" NumberOfPages=@totalPages SelectedPage="@selectedPage" />
        </OneWidth>
        <TwoWidth>
            <Title Text="Verbruik deze maand" />
            <WithTwoColumns>
                <div>
                    <BarGraph Data="GenerateGraphMockData()"
                          UpperBound="@upperbound"
                          Title="Virtuele machines"
                          Unit="Aantal"
                          StartLabel="@startLabel"
                          EndLabel="@endLabel" />

                    <BarGraph Data="GenerateGraphMockData()"
                          UpperBound="@upperbound"
                          Title="Processoren"
                          Unit="Aantal"
                          StartLabel="@startLabel"
                          EndLabel="@endLabel" />
                </div>
                <div>
                    <BarGraph Data="GenerateGraphMockData()"
                          UpperBound="@upperbound"
                          Title="Geheugen"
                          Unit="Aantal"
                          StartLabel="@startLabel"
                          EndLabel="@endLabel" />

                    <BarGraph Data="GenerateGraphMockData()"
                          UpperBound="@upperbound"
                          Title="Opslag"
                          Unit="Aantal"
                          StartLabel="@startLabel"
                          EndLabel="@endLabel" />
                </div>
            </WithTwoColumns>
            <NoResultsMessage Message="Historiek wordt correct opgeslagen, maar kan nog niet worden opgehaald en weergegeven." />
        </TwoWidth>
    </ThreeColumnLayout>
}




