@inherits InputBase<int>

@{
    var inverse = InverseStyle ? "inverse" : "";
}

<div>
    <div class="input-container">
        <label for="@Label">
            <text>@Label:</text>
            @if (Required)
            {
                <sup class="required-input">*</sup>
            }
               
        </label>
        <input 
            @bind="@CurrentValue"
            type="number" 
            min="@Minimum"
            max="@Maximum"
            class="input @inverse" 
            placeholder="@Placeholder" />
    </div>
    <ValidationMessage For=@For />
</div>


