<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(SharedFiles.MainLayout)">
                 <Authorizing>
                    <Loading Text="Authorisatie" />
                </Authorizing>
                <NotAuthorized>
                    <LoginRedirect />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
           
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(SharedFiles.MainLayout)">
                <p role="alert">Deze pagina bestaat niet.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
