@page "/customer/add"
@layout NoGlobalSearchLayout
@attribute [Authorize(Roles = "Master, Administrator")]

<PageTitle>Klant Toevoegen</PageTitle>

<div class="context-menu">
    <span class="context-menu-label">Klant toevoegen</span>
    <Button Text="Toevoegen" />
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title text="Algemene informatie" />
        <AddInput Type="@Input.InputType.TEXT" Label="Naam" />
        <AddInput Type="@Input.InputType.SELECT" Label="Department" />
        <AddInput Type="@Input.InputType.SELECT" Label="Opleiding" />
        <AddInput PlaceHolder="" Type="@Input.InputType.SELECT" Label="Type" />
    </div>
    <div class="one-third">
        <Title text="Contactgegevens" />
        <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" />
        <AddInput Type="@Input.InputType.TEXT" Label="Naam" />
        <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" />
        <AddInput Type="@Input.InputType.TEXT" Label="Telefoonnummer" />
    </div>
    <div class="one-third">
        <Title text="Back-up contactgegevens" />
        <AddInput Type="@Input.InputType.TEXT" Label="Voornaam" />
        <AddInput Type="@Input.InputType.TEXT" Label="Naam" />
        <AddInput Type="@Input.InputType.TEXT" Label="E-mailadres" />
        <AddInput Type="@Input.InputType.TEXT" Label="Telefoonnummer" />

    </div>
</div>


@code {
    private string _customcss = "background-color: white";
}
