@page "/customer/details"
@layout MainLayout
@attribute [Authorize]

<PageTitle>Klant [customer name] Details</PageTitle>

<div class="context-menu">
    <div style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title"><i class="fa-solid fa-arrow-left"></i><span>Terug</span></span>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
    <DataCard Entries="@_username" />

    <Title text="Algemeen" />
    <DataCard Entries="@_general" />

    <Title text="Contactgegevens" />
    <DataCard Entries="@_contactInformation" />
    <DataCard Entries="@_contactInformation" />
</div>
<div class="one-third">

    <div style="display: flex; align-items: flex-end; height: 50px;">
        <span style="flex: 1">
            <Button Text="Actief" />
        </span>
        <span>
            <Button Text="Beheren" />
        </span>
    </div>

    <Title text="Virtuele machines" />
    @for(int i = 0; i < 6; i++){
            <EntityCard Value="devops-proj1.vichogent.be" Active="@(i % 3 == 0 ? true : false)" />
    }
    <PageSelector NumberOfPages="5"/>
</div>
</div>





@code {
    private Dictionary<string, string> _username = new();
    private Dictionary<string, string> _general = new();
    private Dictionary<string, string> _contactInformation = new();


    protected override void OnInitialized()
    {
        _username.Add("Naam", "[customer name]");

        _general.Add("Department", "IT en Digitale Innovatie");
        _general.Add("Opleidnig", "Toegepaste Informatica");
        _general.Add("Type", "Student");

        _contactInformation.Add("Naam", "[customer name]");
        _contactInformation.Add("E-mailadres", "[customer mail]"); 
        _contactInformation.Add("Telefoonnummer", "[customer tel]");
    }
}
