@page "/customer/{id:int}"
@layout MainLayout
@namespace Shared
@inject ICustomerService customerService
@attribute [Authorize]

<PageTitle>Klant [customer name] Details</PageTitle>

<div class="context-menu">
    <div style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title"><i class="fa-solid fa-arrow-left"></i><span>Terug</span></span>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
    <DataCard Entries="@_username" />

    <Title text="Algemeen" />
    <DataCard Entries="@_general" />

    <Title text="Contactgegevens" />
    <DataCard Entries="@_contactInformation" />
        <DataCard Entries="@_backupContactInformation" />
</div>
<div class="one-third">

    <div style="display: flex; align-items: flex-end; height: 50px;">
        <span style="flex: 1">
            <Button Text="Actief" />
        </span>
        <span>
            <Button Text="Beheren" />
        </span>
    </div>

    <Title text="Virtuele machines" />
    @for(int i = 0; i < 6; i++){
            <EntityCard Value="devops-proj1.vichogent.be" Active="@(i % 3 == 0 ? true : false)" />
    }
    <PageSelector NumberOfPages="5"/>
</div>
</div>





@code {
    private CustomerDto.Details? customer;

    [Parameter] public int Id { get; set; }

    private Dictionary<string, string> _username = new();
    private Dictionary<string, string> _general = new();
    private Dictionary<string, string> _contactInformation = new();
    private Dictionary<string, string> _backupContactInformation = new();

    protected override async Task OnInitializedAsync()
    {
        customer = await customerService.GetDetailAsync(Id);

        _username.Add("Naam", customer.ContactPersonDto.Firstname);

        if(customer.Type==null){
            _general.Add("Departement", customer.Department);
            _general.Add("Opleiding", customer.Education);
            _general.Add("Type klant", "Intern");
        }else{
            _general.Add("Naam", customer.Name);
            _general.Add("Type", customer.Type);
            _general.Add("Type klant", "Extern");

        }

        _contactInformation.Add("Naam", string.Concat(customer.ContactPersonDto.Firstname, " ", customer.ContactPersonDto.Lastname));
        _contactInformation.Add("E-mailadres", customer.ContactPersonDto.Email);
        _contactInformation.Add("Telefoonnummer", customer.ContactPersonDto.Phonenumber);

        if(customer.BackupContactPersonDto!=null){
            _backupContactInformation.Add("Naam", string.Concat(customer.BackupContactPersonDto.Firstname, " ", customer.BackupContactPersonDto.Lastname));
            _backupContactInformation.Add("E-mailadres", customer.BackupContactPersonDto.Email);
            _backupContactInformation.Add("Telefoonnummer", customer.BackupContactPersonDto.Phonenumber);
        }
        
        
    }
}
